<div class="card card-modify">
    <div class="card-body d-flex flex-column">
        <a [routerLink]="'/article/' + id"><h3 class="card-title">{{ title }}</h3></a>
        <p class="card-text">
            {{ content }}
        </p>
        <div class="mt-auto">
            <a [routerLink]="'/article/' + id" class="btn btn-sm btn-primary">Lire</a>
            <a href="#" class="btn btn-secondary btn-sm">Partager</a>
        </div>
    </div>
</div>
