#wrapper {

    padding: 100px 0;
    min-height: 100vh;
    max-width: 1280px;
    display: block;
    margin: auto;

}

.btn-sm {
    padding: .5rem 1rem !important;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

textarea {
    border-radius: 0 !important;
    font-size: 20px !important;
}
