<div id="wrapper">

    <div class="row">
        <div class="col">
            <div class="post-heading">
                <h1>{{article?.title}}</h1>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>{{article?.body}}</p>
        </div>
    </div>

    <hr>


    <div class="row">
        <div class="col">
            <div class="section-header">
                <h4>Commentaires
                    <span *ngIf="!auth.isLoggedIn" class="badge badge-warning">Vous devez être conectés pour rédiger un commentaire</span>
                </h4>
            </div>
        </div>
    </div>

    <ng-container *ngIf="auth.isLoggedIn">
        <hr>

        <div class="row">
            <div class="col">
                <div class="section-header">
                    <h5>Rédiger un commentaires</h5>
                </div>
            </div>
        </div>

        <div class="row my-3">
            <div class="col">
                <form [formGroup]="commentaireForm" class="w-100">
                    <div class="form-group">
                        <textarea formControlName="commentaire" class="form-control w-100" rows="5"
                                  placeholder="Votre commentaire ici"></textarea>
                    </div>
                    <button (click)="submit()" [disabled]="commentaireForm.invalid" type="submit"
                            class="btn btn-sm w-100 btn-secondary">Envoyer
                    </button>
                </form>
            </div>
        </div>
    </ng-container>

    <hr>

    <div class="row my-3" *ngFor="let commentaire of commentaires">
        <div class="col">
            <app-commentaire-card [articleId]="articleId" [articleAuthorId]="article.UserId" [authorId]="commentaire.UserId"
                                  [body]="commentaire.body" [idCom]="commentaire.id"></app-commentaire-card>
        </div>
    </div>

</div>
