.btn-sm {
    padding: .5rem 1rem !important;
    font-size: .7rem;
}

.navbar.navbar-light.bg-transparent.navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw !important;
    z-index: 1000;
}
