<nav class="navbar navbar-light bg-transparent navbar-collapse">
    <a class="navbar-brand" routerLink="/feed">
        <img src="./assets/images/home.svg" width="30" height="30" alt=""> Home
    </a>
    <div *ngIf="router.url === '/feed'">
        <button class="btn btn-warning"><img src="./assets/images/search.svg" width="25" height="25" alt="">
        </button>
    </div>
    <div *ngIf="!auth.isLoggedIn">
        <a routerLink="/login" class="btn btn-sm btn-primary">Se connecter</a>
        <a routerLink="/register" class="btn btn-sm btn-secondary">S'enregistrer</a>
    </div>
    <div *ngIf="auth.isLoggedIn">
        <div class="dropdown dropleft">
            <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ auth.user?.username ? auth.user.username : 'Chargement ...' }}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Mon compte</a>
                <a class="dropdown-item" routerLink="/article/new">Rédiger un article</a>
                <a class="dropdown-item" href="" (click)="logout()">Se déconnecter</a>
            </div>
        </div>
    </div>
</nav>
