<div class="form-page">
    <form class="form-sign" [formGroup]="registerForm">
        <h1 class="h3 mb-3 font-weight-bold">Créer un compte</h1>
        <input formControlName="username" type="text" class="form-control form-control-lg my-4"
               placeholder="Nom d'utilisateur"
               required=""
               autofocus="">
        <input formControlName="password" type="password" class="form-control form-control-lg my-4"
               placeholder="Mot de passe"
               required="">
        <button [disabled]="registerForm.invalid" (click)="submit()" class="btn btn-primary w-50"
                type="submit">
            S'enregistrer
        </button>
        <p class="mt-5 mb-3 text-muted">© 2020-2021</p>
        <div *ngIf="responseCode === 301" class="alert alert-success">
            Votre compte à été créé !
        </div>
        <div *ngIf="responseCode === 500" class="alert alert-danger">
            Une erreur interne est survenu.
        </div>
    </form>
</div>
