.form-page {

    height: 100vh;
    position: relative;

    .form-sign {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        max-width: 720px;
        width: 95vh;
    }

}

input {
    border-radius: 0 !important;
}
