<div class="form-page">
    <form class="form-sign" [formGroup]="loginForm">
        <h1 class="h3 mb-3 font-weight-bold">Connexion</h1>
        <input formControlName="username" type="text" class="form-control form-control-lg my-4"
               placeholder="Nom d'utilisateur"
               required=""
               autofocus="">
        <input formControlName="password" type="password" class="form-control form-control-lg my-4"
               placeholder="Mot de passe"
               required="">
        <button [disabled]="loginForm.invalid" (click)="submit()" class="btn btn-primary w-50"
                type="submit">
            Se Connecter
        </button>
        <p class="mt-5 mb-3 text-muted">© 2020-2021</p>
        <div *ngIf="responseCode === 200" class="alert alert-success">
            Vous êtes maintenant connectés !
        </div>
        <div *ngIf="responseCode === 403" class="alert alert-danger">
            Mauvais mot de passe.
        </div>
        <div *ngIf="responseCode === 404" class="alert alert-danger">
            Aucuns utilisateurs trouvés avec ce nom d'utilisateur.
        </div>
        <div *ngIf="responseCode === 500" class="alert alert-danger">
            Une erreur interne est survenu.
        </div>
    </form>
</div>
