.btn-sm {
    padding: .5rem 1rem !important;
}

.card-modify {
    box-shadow: 0 3.2px 7.2px rgba(0, 0, 0, 0.13),
    0 0 3.8px rgba(0, 0, 0, 0.11) !important;
    border-color: #ffffff !important;
    height: 100% !important;
    background-color: rgba(255, 255, 255, 0.5) !important;
}
