<div class="card card-modify">
    <div class="card-body d-flex flex-column">
        <h5 class="card-title">Autheur : <em>{{ author }}</em></h5>
        <p class="card-text">
            {{ body }}
        </p>
        <div class="mt-auto">
            <button class="btn btn-sm btn-primary" *ngIf="author === auth.user.id">Modifier</button>
            <button (click)="deleteCom(idCom)" class="btn btn-sm btn-danger"
                    *ngIf="author === auth.user.id || auth.user.id === articleAuthorId">
                Supprimer
            </button>
        </div>
    </div>
</div>
