#content {

    padding: 100px 0;
    min-height: 100vh;
    max-width: 1280px;
    display: block;
    margin: auto;

}

textarea, input {
    border-radius: 0 !important;
    font-size: 20px !important;
}
