<div id="content">
    <form [formGroup]="articleForm">
        <input type="text" class="form-control" formControlName="title" placeholder="Le title de votre article ici">
        <textarea class="form-control" rows="20" formControlName="body"
                  placeholder="Le contenu de votre article ici"></textarea>
        <button (click)="submit()" [disabled]="articleForm.invalid" class="btn btn-primary">Envoyer</button>
    </form>
</div>
