<section id="feed">
    <div class="row">
        <ng-container *ngFor="let article of articles; let i = index">

            <div class="col" *ngIf="i % 4 != 0 || i == 0">
                <app-article-card [content]="article.body" [title]="article.title" [id]="article.id"></app-article-card>
            </div>

            <div class="w-100 my-3" *ngIf="i % 4 == 0 && i != 0"></div>

        </ng-container>
    </div>
</section>
